@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap");
.far {
  font-size: 18px;
  color: #9898a6;
  cursor: pointer; }
  .far:hover {
    color: #1c00ff; }

.fab {
  font-size: 25px; }

.link {
  text-decoration: none;
  color: black;
  font-size: 13px; }
  .link--blue {
    color: #1c00ff; }

.button {
  width: 100%;
  height: 45px;
  background-color: #1c00ff;
  border: 2px solid #1c00ff;
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: 0px 0px 20px rgba(28, 0, 255, 0.32); }
  .button:hover {
    background-color: white;
    color: #1c00ff; }

.input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box; }

input[type=checkbox] {
  display: none; }

input[type=checkbox]:checked ~ .remove-check {
  display: none; }

input[type=checkbox]:checked ~ #checked {
  display: none; }

input[type=checkbox]:checked ~ #unchecked {
  display: block; }

input[type=checkbox]:checked ~ #email {
  display: flex; }

#email {
  display: none; }

input[type=checkbox]:checked ~ .folder {
  display: block; }

#unchecked {
  display: none; }

.heading {
  font-size: 19px;
  font-weight: 600; }
  .heading--large {
    font-size: 25px; }
  .heading--aside {
    font-size: 16px;
    height: 20px;
    color: #9898a6;
    overflow: hidden; }
    .heading--aside:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      width: 100%;
      height: 2px;
      background: #dcdce1;
      border: solid #FFF;
      border-width: 0 10px;
      margin-right: -100%; }

.label {
  width: 100%;
  cursor: pointer;
  user-select: none; }
  .label:hover {
    color: #1400b3; }
  .label--categories {
    text-align: center;
    color: #1c00ff;
    font-weight: 600;
    font-size: 15px; }

.table {
  width: 100%;
  border-spacing: 0 15px; }
  .table-row {
    height: 100px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer; }
    .table-row:hover {
      box-shadow: 0px 0px 20px rgba(28, 0, 255, 0.22); }
  .table-cell {
    border-spacing: 0; }
    .table-cell--empty {
      width: 150px; }
  .table__category {
    display: flex;
    align-items: center; }
  .table__description {
    font-size: 12px;
    color: #9898a6;
    padding-bottom: 5px; }
    .table__description--content {
      font-size: 13px; }
  .table__heading {
    padding-left: 10px; }
  .table__header {
    display: flex;
    align-items: center;
    padding-left: 10px; }

.container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  box-sizing: border-box; }

.navigation {
  display: flex;
  align-items: center; }
  .navigation__menu {
    display: flex; }
  .navigation__link {
    list-style-type: none;
    margin: 0 15px;
    cursor: pointer;
    color: #9898a6; }
    .navigation__link--active {
      color: #1c00ff; }

.select {
  outline: none;
  border: 0;
  font-size: 13px;
  color: black;
  padding: 5px;
  line-height: 1;
  border-radius: 5px;
  background: url(../img/select-icon.svg) no-repeat right transparent;
  background-position-x: 120px;
  padding-right: 20px;
  text-indent: 0.01px;
  -webkit-appearance: none;
  -moz-appearance: none; }
  .select--sort {
    font-size: 12px;
    background-position-x: 118px;
    padding-right: 18px; }

.header {
  background-color: #FEFEFE; }
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px; }
  .header--left {
    display: flex; }
  .header__logo {
    display: flex;
    align-items: center; }
  .header__additional {
    display: flex;
    align-items: center; }
  .header__heading {
    margin: 0 0 0 10px;
    font-size: 22px;
    color: #1c00ff;
    font-weight: 600; }
  .header__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #dcdce1;
    padding: 0 25px;
    height: 70px; }
    .header__item--no_border {
      border-right: none;
      padding-right: 0; }

.tabs {
  display: flex;
  padding-left: 0;
  border-bottom: 1.5px solid #dcdce1;
  width: 600px;
  color: #9898a6;
  box-sizing: border-box; }
  .tabs-item {
    padding: 0 15px 20px 15px;
    list-style-type: none;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    user-select: none; }
    .tabs-item--active {
      color: black;
      border-bottom: 2px solid #1c00ff;
      font-weight: 600; }
  .tabs-content {
    display: none; }
    .tabs-content--visible {
      display: block; }

.tabs-content {
  display: none; }
  .tabs-content--visible {
    display: block; }

.section--global {
  margin: 50px 0; }

.categories {
  display: flex;
  justify-content: space-between; }
  .categories-wrapper {
    background-color: #EFEFEF;
    padding: 25px 20px;
    border-radius: 5px; }
  .categories__additional {
    font-size: 14px; }
  .categories__button {
    margin-left: 7px; }
    .categories__button--add {
      color: #1c00ff;
      font-weight: 600; }

.square {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  border-radius: 3px; }
  .square--green {
    background-color: #0caddf; }
  .square--purple {
    background-color: #db21ef; }
  .square--blue {
    background-color: #468de2; }
  .square--small {
    height: 7px;
    width: 7px;
    border-radius: 2px;
    margin-right: 4px; }

.templates__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 110px; }

.templates__block {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 25px 0;
  color: #9898a6; }

.templates__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 32%;
  height: 185px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  cursor: pointer; }
  .templates__item:hover {
    box-shadow: 0px 0px 20px rgba(28, 0, 255, 0.22); }

.templates__info, .templates__icon {
  display: flex; }

.templates__info {
  align-items: center;
  justify-content: space-between; }
  .templates__info--left {
    display: flex;
    align-items: center; }

.templates__icon {
  padding: 7px;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1; }
  .templates__icon:hover {
    z-index: 5; }
  .templates__icon-wrapper {
    display: flex;
    margin: 0 5px; }
  .templates__icon--left {
    background-color: #0a0e0d; }
  .templates__icon--middle {
    background-color: #2f5861;
    margin-left: -15px; }
  .templates__icon--right {
    background-color: #333a63;
    margin-left: -15px; }

.templates__heading {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: black;
  overflow: hidden;
  line-height: 35px; }

.templates__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55px; }

.templates__more {
  text-align: center;
  font-size: 14px; }

.templates__additional {
  font-size: 14px; }

.templates__bottom {
  display: flex;
  flex-direction: column-reverse; }

.global__header {
  display: flex;
  justify-content: space-between; }

.global__label {
  color: #9898a6; }

.global__select {
  font-size: 13px; }

.main {
  background-color: #F7F7F7;
  min-height: 100vh; }
  .main-inner {
    display: flex;
    padding-top: 25px; }
  .main__content {
    width: 81%;
    margin-left: 20px;
    padding-top: 28px; }

.aside {
  width: 19%;
  padding-top: 20px;
  display: flex;
  flex-direction: column; }
  .aside__input {
    margin: 20px 0;
    width: 100%; }
  .aside__item {
    margin: 15px 0;
    display: flex;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600; }
    .aside__item-text {
      margin: 0 4px; }
  .aside__block {
    margin: 20px 0; }
  .aside__folder {
    flex-direction: column;
    align-items: flex-start; }

.folder {
  display: none;
  margin-left: 25px; }
  .folder__item {
    margin: 15px 0; }
    .folder__item--last {
      margin-bottom: 0; }

body {
  margin: 0;
  font-family: 'Noto Sans HK', sans-serif; }
  body p {
    margin: 0; }
